header{
    width: 1200px;
    margin: 0 auto;
}
.navigation{
    position: fixed;
    top: 0;
    width: 1200px;

}
main{
    padding: 0 15px;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
    background-color: var(--black);
    list-style-type:none;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 18px;
}
li{
    color: var(--white);
}
li:hover{
    text-decoration: none;
    color: var(--yellow);
    cursor: pointer;
}

section{
    width: 1200px;
    margin: 0 auto;
    padding-top: 90px;
}
h2{
    font-size: 30px;
    border-bottom: 2px solid var(--yellow);
}
p{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.50;
}
footer{
    background-color: var(--black);
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.footer-page{
    color: var(--white);
    padding-top: 35px;
    padding-bottom: 35px;
}