header{
    width: 100%;
}
.navigation{
    width: 100%;

}
section{
    width: 100%;
}
.section-container{
    width: 100%;
}
.right-align{
    margin-left: 0;
}
li{
    padding: 11px;
}
footer{
    background-color: var(--black);
    width: 100%;
}